/* Global */

* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

input {
  /* border: none; */
  outline: none;

  cursor: pointer;
}
button {
  outline: none;
  border: none;
  cursor: pointer;
}
