/* Home */

.home h2 {
  text-align: center;
  padding: 40px 0;
  font-size: 2rem;
  font-weight: 700;
}

.places {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.place {
  /* flex-direction: column; */
  display: flex;
  width: 200px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.place_img {
  width: 100%;
  height: 11rem;
  object-fit: contain;
  border-radius: 0.5rem;
  margin-bottom: 20px;
}
.place_title {
  display: flex;
  align-items: flex-start;

  justify-content: center;
  margin-bottom: 10px;
  margin-right: 20px;
  flex-direction: column;
  width: 100%;
}

/* Hero-Filters & SearchBar */

.banner {
  background-image: url(../img/pizza.jpeg);
  /* border: solid salmon; */
  margin-top: 30px;
  background-position-y: 30%;
  background-size: cover;
  height: 200px;
  position: relative;
  width: 100%;
}

.searchbar {
  display: flex;
  /* border: solid saddlebrown; */
  justify-content: center;
  height: auto;
  color: black;
  /* background-color: aliceblue; */
}

.type_button .active {
  color: green;
  background-color: white;
}
.type_button .inactive {
  color: black;
  background-color: white;
}
.type_button {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: auto;
  position: relative;
}
